<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <title>Upload new File</title>
	<link rel="icon" href="/static/favicon.png">
</head>
<body>
    <iframe id="dummyframe" name="dummyframe" style="display:none;"></iframe>
    <h1>Upload new File</h1>
    <style>
        .uploadStatusText{
            padding-left:2em;
        }
        #uploadProgressDisplay{
            display:grid;
            grid-template-columns:auto 1fr;
        }
    </style>
    <script>
        class MultiRequest{
            constructor(){
                this.requests_pending=[]
                this.num_requests_finished=0
            }
            add(req,body=null){
                this.requests_pending.push([req,body])
            }
            send(){
                for(const [req,body] of this.requests_pending){
                    req.send(body)
                }
            }
            finishRequest(req){
                if(!req)
                    return

                let index=-1
                for(let [i,[req_p,_]] of this.requests_pending.entries()){
                    if(req===req_p){
                        index=i
                        break
                    }
                }
                if(index==-1){
                    return
                }
                this.requests_pending.splice(index,1)

                this.num_requests_finished+=1
            }
        }
        function uploadFiles(event){
			event.preventDefault()
			event.currentTarget.parentElement.reportValidity()

            let uploadProgressDisplay=document.getElementById("uploadProgressDisplay")
            let target=document.getElementById("fileSelection")

			if(target.files.length==0)
				return;

            let multiReq=new MultiRequest()

            while(uploadProgressDisplay.firstChild){
                uploadProgressDisplay.removeChild(uploadProgressDisplay.firstChild)
            }

            let uploadStatusSummary=document.createElement("div")
            uploadStatusSummary.innerText="0/"+target.files.length+" completed"
            uploadStatusSummary.style="grid-column: span 2;"
            uploadProgressDisplay.appendChild(uploadStatusSummary)

            for(let file of target.files){
                let formData = new FormData();
                formData.append('file', file);

                let req=new XMLHttpRequest()
                req.open('POST', '/api/upload', true);

                let newElement=document.createElement("div")
                newElement.innerText=file.name
                uploadProgressDisplay.appendChild(newElement)

                let statusElement=document.createElement("t")
                statusElement.classList.add("uploadStatusText")
                statusElement.innerText="uploading.."
                uploadProgressDisplay.appendChild(statusElement)

                req.onabort=()=>{
                    console.log("request aborted")
                    statusElement.innerText="upload aborted"
                }
                req.onerror=()=>{
                    console.log("request failed")
                    statusElement.innerText="upload error"
                }
                req.onload=(function(){
                    if(!(this.readyState === 4 && this.status === 200)){
                        console.error("request failed"+this.readyState+" "+this.status)
                    }

                    multiReq.finishRequest(this)

                    let response=JSON.parse(req.responseText)
                    statusElement.innerHTML="upload completed to <a href='"+response.files[0].url+"'>this link</a>"
                    uploadStatusSummary.innerText=multiReq.num_requests_finished+"/"+target.files.length+" completed"

                    if(multiReq.num_requests_finished===target.files.length){
                        target.value=""
                    }
                }).bind(req)

                multiReq.add(req,formData)
            }
            multiReq.send()
        }
    </script>

    <form>
      <input id="fileSelection" type="file" name="file" required multiple>
      <input type="submit" value="Upload" onclick="uploadFiles(event)">
    </form>

    <div id="uploadProgressDisplay"></div>
</body>
</html>
