.DS_Store
.ipynb_checkpoints
/Project/volume
*.egg-info
__pycache__
**/build/lib
Project/script_workers/dbi
Project/web-frontend/dbi
Project/script_workers/cell-profile
Project/web-frontend/cell-profile
Project/data